.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {

  h1 {
    grid-column: 1 / -1;
  }
  
  .expanded {
    grid-column: 1 / -1;
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
  padding-left: 4em;
  padding-right: 4em;
  grid-column: 2 / -1;
}

#root {
  display: grid;
  grid-template-columns: minmax(8em, 1fr) 8fr;
}

nav {
  ul {
    list-style: none;
  }
}
